<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Colocalisation app</title>
        </head>

        <body>
        </br>
        <center>
                <h1>Minimal Django File Upload Example</h1>
        </center>

        </br></br>
                <!-- List of uploaded documents -->
                <!-- {% if documents %}
                        <ul>
                                <h2>Input Image</h2>
                                <a href="{{ documents.docfile.url }}">
                                <img src="{{ documents.docfile.url }}" class="img-fluid" width="400" height="400">
                                </a>
                                <form action="{% url 'list' %}" method="POST"> <!--send the result to add-->
                                        <!-- {% csrf_token %}
                                        <div class="mb-3">
                                          <input type="text" class="form-control" placeholder="max value" name="max">
                                          <input type="text" class="form-control" placeholder="min value" name="min">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                </form> -->
                        <!-- </ul>
                        <a href="{% url 'process' %}">Image intensity</a>
                        
                {% else %}
                        <p>"no documents"</p>
                {% endif %} --> 

                
        </body>

</html>